/* Login.css */
.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  

  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form-row {
    display: flex;
    flex-direction: column;
  }
  
  .input-field {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .input-field:focus {
    outline: none;
    border-color: #6b0f8a; /* Highlight border on focus */
  }
  
  .submit-btn {
    background-color: #6b0f8a;
    color: white;
    font-size: 1.1rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-btn:hover {
    background-color: #540b6c; /* Darker shade on hover */
  }
  